<div>Hello <span></span></div>

<script>
(function () {
     var mainDiv = document.currentScript.parentElement;
     JwtProxyService.ajax("{{jwtProxyService_url}}/test/client", "/me").then(me => {
         mainDiv.querySelector("span").innerText = me.me;
     });
})();
</script>
