<html>
  <style>
   .widget {
       border: 1px solid #aaa;
       margin: 1em;
       display: inline-block;
   }
   .widget > span {
       display: inline-block;
       margin-top: -1em;
       background: white;
       padding: 0 0.5em;
       margin-left: 1em;
       vertical-align: sub;
   }
   .widget > div {
       padding: 2em;
   }
  </style>
  
  <span class="widget" style="width: 30em">
      <span> testClient </span>
      <div>
          <script async data-widget-url="{{jwtProxyService_url}}/test/client" src="{{jwtProxyService_url}}/widget-loader.js"></script>
      </div>
  </span>

  <span class="widget" style="width: 30em">
      <span> testClient2 </span>
      <div>
          <script async data-widget-url="{{jwtProxyService_url}}/test/client" Xsrc="{{jwtProxyService_url}}/widget-loader.js"></script>
      </div>
  </span>
  
</html>

